<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Maintenance</title>
  </head>
  <body>
    <h1>Site is under maintanance.</h1>
    <p>We'll be right back soon.</p> <!--msg is passed as argment-->

    {{>footer}}
  </body>
</html>
