<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{>header}}
    <p>{{screamIt msg}}.</p> <!--msg is passed as argment-->

    {{>footer}}
  </body>
</html>
